.hero-buttons {
  max-width: 100%;
  padding-top: 15px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5094f2;
  padding: 15px 10px;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
}

.button:hover {
  background-color: #ebbb11;
}

.button-icon {
  margin: 0;
  padding: 0;
  max-width: 33px;
  max-height: 33px;
  margin-right: 15px;
}

.button-text {
  margin: 0;
}

.burger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5094f2;
  width: 38px;
  height: 30px;
  padding: 5px;
}

@media screen and (min-width: 480px) {
  .button {
    padding: 15px 14px;
    margin-bottom: 5px;
    font-size: 30px;
  }
  
  .hero-buttons {
    max-width: 245px;
    padding-top: 22px;
  }

  .burger-button {
    width: 58px;
    height: 44px;
    padding: 10px;
  }
}

@media screen and (min-width: 640px) {
  .burger-button {
    display: none;
  }

  .hero-buttons {
    max-width: 172px;
  	padding-top: 33px;
  }

  .button {
    padding: 10px 10px;
    font-size: 22px;
  }

  .button-icon {
    max-width: 23px;
    max-height: 23px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 960px) {
  .burger-button {
    display: none;
  }

  .hero-buttons {
    max-width: 172px;
  }

  .button {
    padding: 10px 10px;
    color: #ffffff;
    font-size: 22px;
  }

  .button-icon {
    max-width: 23px;
    max-height: 23px;
    margin-right: 10px;
  }
}