.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
}

.card-title, .card-description {
  margin: 0;
}

.card-title {
  text-align: center;
  color: #5094f2;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 10px;
}

.card-description {
  text-align: center;
  color: #909090;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-media {
  display: flex;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.bg-blue {
  background-color: #5094f2;
}

.bg-red {
  background-color: #d94748;
}

.bg-yellow {
  background-color: #ebbb11;
}

.features-img {
  width: 40px;
  height: auto;
}

@media screen and (min-width: 480px) {
  .card {
    padding-top: 31px;
    padding-bottom: 18px;
    margin: 0 -12px;
  }

  .card > * {
    padding: 0 12px;
  }

  .card-title {
    text-align: left;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 10px;
  }

  .card-description {
	  text-align: left;  
    font-size: 17px;
  }

  .card-media {
    height: 130px;
    width: 130px;
	  margin-bottom: 16px;
  }

  .features-img {
    width: 70px;
  }
}

@media screen and (min-width: 640px) {
  .card {
	  padding: 0;
    padding-top: 73px;
  }

  .card-title {
    text-align: center;
    font-size: 20px;
    line-height: 44.42px;
  }

  .card-description {
    text-align: center;
    font-size: 14px;
  }

  .card-media {
    height: 130px;
    width: 130px;
    margin-bottom: 28px;
  }

  .features-img {
    width: 70px;
  }
}

@media screen and (min-width: 960px) {
  .card {
    padding-top: 73px;
  }

  .card-title {
    font-size: 24px;
  }

  .card-description {
    font-size: 18px;
  }

  .card-media {
    height: 186px;
    width: 186px;
  }

  .features-img {
    width: 95px;
  }
}