@media screen and (min-width: 640px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .grid > * {
    padding: 0 15px;
  }
}