.hero {
  max-width: 1899px;
  margin: 0 auto;
  padding: 5px 0;
  background: url(../../images/hero/pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  position: relative;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-button-next {
  margin-right: 20px;
}

.swiper-button-prev {
  margin-left: 20px;
}

.hero-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.hero-layout > * {
  padding: 0 15px;
}

.hero-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-img {
  width: 40%;
  height: auto;
  margin: 0;
}

.hero-textarea {
  max-width: 400px;
  color: #eeecec;
  font-family: "Segoe WP";
  line-height: 30px;
}

.hero-title {
  font-size: 22px;
  margin: 0;
  font-weight: 300;
}

.hero-description {
  font-size: 18px;
  margin: 0;
  max-width: 230px;
  font-weight: 300;
}

@media screen and (min-width: 480px) {
  .hero-layout {
    margin: 0 -20px;
  }
  
  .hero-layout > * {
    padding: 0 20px;
  }
  
  .hero-img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .hero-title, .hero-description {
    text-align: left;
  }
}

@media screen and (min-width: 640px) {
  .hero-layout {
    margin: 0 -20px;
  }

  .hero-layout > * {
    padding: 0 20px;
  }

  .hero-textarea {
    line-height: 44.42px;
  }
  
  .hero-title {
    font-size: 35px;
  }

  .hero-description {
    font-size: 22px;
    max-width: 250px;
  }
}

@media screen and (min-width: 960px) {
  .hero-layout {
    margin: 0 -35px;
  }

  .hero-layout > * {
    padding: 0 35px;
  }	
	
  .hero-textarea {
    line-height: 44.42px;
  }
  
  .hero-title {
    font-size: 42px;
  }

  .hero-description {
    font-size: 26px;
    max-width: 250px;
  }
}