.section-list {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  list-style-type: none;
}

.list-title {
  color: #6f7173;
  font-size: 22px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 15px;
}

.list-description {
  margin: 0;
  color: #909090;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

@media screen and (min-width: 640px) {
  .list-title {
    font-size: 26px;
  }
  
  .list-description {
    font-size: 14px;
	  line-height: 1.4
  }
}

@media screen and (min-width: 960px) {
  .list-title {
    font-size: 28px;
  }
  
  .list-description {
    font-size: 18px;
	  line-height: 28px;
  }
}