.section {
  padding: 0;
  margin: 0;
}

.section-cart {
  margin-top: 48px;
}

.section-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  color: #6f7173;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: center;
}

.section-features .container {
  padding: 0;
}

.section-cart-figure {
  margin: 0;
  margin-bottom: 15px;
  max-width: 215px;
}

.col {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .section-cart-figure {
    max-width: 371px;
    margin: 0;
  }

  .section-layout {
    align-items: stretch;
    margin: 0 -40px;
  }

  .section-layout > * {
    padding: 0 40px;
  }
  
  .section-title {
    font-size: 28px;
  }

  .section-body {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 640px) {  
	.section-features .container {
	  padding: 0 30px;
	}
  
  .section-layout {
    margin: 0 -15px;;
  }

  .section-layout > * {
    padding: 0 15px;;
  }

  .section-title {
    font-size: 34px;
    line-height: 44.42px;
    margin-bottom: 36px;
    text-align: left;
  }

  .col {
    border: none;
  }

  .section-features {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 960px) {
  .section-layout {
    margin: 0 -40px;;
  }

  .section-layout > * {
    padding: 0 40px;;
  }

  .section-features {
    margin-bottom: 91px;
  }
}